{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/post.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/user_bio.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/first_entry.css' %}">
{% endblock %}
{% block content %}
    <div class="main-layout">
        <div class="side-block">
            {% include 'post_app/user_bio.html' %}
        </div>
        <div class="content-container">
            <div id="textarea-container">
                <textarea name="" id="" placeholder="Текст публікації" id="btn-textarea"></textarea>
                <button class="send-btn" id="open-form">Перейти до оформлення</button>
            </div>
            <div class="posts" id="posts-container">
                {% include 'post_app/posts.html' %}
            </div>
            <div id="post-loader" data-has-more="{{ post_content.has_next }}"></div>
        </div>
    </div>
    {% if first_entry %}
        {% include 'post_app/first_entry.html' %}
    {% endif %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'post_app/js/loadPost.js' %}"></script>
    <script src="{% static 'post_app/js/debounce.js' %}"></script>
    <script src="{% static 'post_app/js/usernameValidation.js' %}"></script>
    <script src="{% static 'post_app/js/firstEntry.js' %}"></script>
{% endblock %}