font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/GTWalsheimPro-Light.woff2") format("woff2"),
    url("../fonts/GTWalsheimPro-Light.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/GTWalsheimPro-Regular.woff2") format("woff2"),
    url("../fonts/GTWalsheimPro-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/GTWalsheimPro-Medium.woff2") format("woff2"),
    url("../fonts/GTWalsheimPro-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/GTWalsheimPro-Bold.woff2") format("woff2"),
    url("../fonts/GTWalsheimPro-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/GTWalsheimPro-UltraBold.woff2") format("woff2"),
    url("../fonts/GTWalsheimPro-UltraBold.woff") format("woff");
  font-weight: 800;
}

:root {
  --color-white: white;
  --color-plum: #E9E5EE;
  --color-indigo: #070A1C;
  --color-blue: #81818D;
  --color-purple: #543C52;
  --color-red: #FF4C4C;
  --color-silver: #CDCED2;
  --color-gray: #83848D;
  --color-orange: #22C55E;

  --header-height: 88px;
  --side-padding-horizontal: 80px;
  --side-padding-vertical: 16px;
  --form-padding-vertical: 44px;
  --form-padding-horizontal: 44px;
  --header-padding-vertical: 24px;
  --header-padding-horizontal: 80px;
  --form-radius: 20px;
  --form-gap: 36px;
}

body {
    font-family: "GT Walsheim Pro";
    margin: 0;
    padding: 0;
    color: var(--color-indigo);
}

header {
  height: var(--header-height);
  padding: var(--header-padding-vertical) var(--header-padding-horizontal);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: var(--color-white);
}

header:has(nav) {
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  gap: 22px;
}

.nav-wrapper a {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 4px 8px;
}

.nav-wrapper a.selected {
  background-color: var(--color-plum);
  border-radius: 3px;
}

#logout-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: 100px;
  border: 1px solid var(--color-purple);
  transition: all 0.25 ease;
}

#logout-btn:hover {
  background-color: var(--color-plum);
}

nav.mobile {
  display: none;
  gap: 30px;
}

nav.mobile a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  border: 1px solid var(--color-purple);
  box-sizing: border-box;
}

nav.mobile a.selected {
  background-color: var(--color-plum);
}

a {
  text-decoration: none;
  color: var(--color-indigo);
  font-weight: 500;
}

.hidden {
    display: none !important;
}

main {
  position: relative;
  min-height: calc(100vh - var(--header-height));
  background-color: #FAF8FF;
  padding: var(--side-padding-vertical) var(--side-padding-horizontal);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  font-family: 'GT Walsheim Pro';
}

h1, h2, h3, p {
  margin: 0;
}

footer {
  display: none;
  box-sizing: border-box;
  height: 70px;
  padding-bottom: 16px;
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
  background-color: var(--color-white);
  align-items: center;
  justify-content: space-around;
}

footer a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  height: 100%;
  box-sizing: border-box;
}

footer a.selected {
  border-top: 2px solid var(--color-purple);
}

@media (max-width: 1060px) {
  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: flex;
  }

  footer {
    display: flex;
  }

  main {
    padding-bottom: calc(70px + var(--side-padding-vertical));
  }
}

@media (max-width: 680px) {
  :root {
    --header-height: 56px;   
    --side-padding-horizontal: 0;
    --side-padding-vertical: 8px;
    --form-padding-horizontal: 16px;
    --form-gap: 24px; 
    --header-padding-vertical: 8px;
    --header-padding-horizontal: 16px;
  }

  nav.mobile {
    width: 30%;
    justify-content: space-between;
    min-width: 140px;
    gap: 0;
  }
}