form {
    background-color: var(--color-white);
    border-radius: var(--form-radius);
    padding: var(--form-padding-vertical) var(--form-padding-horizontal);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--form-gap);
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
    font-size: 1rem;
    position: relative;
}

.send-btn {
    background-color: var(--color-purple);
    border: 1px solid var(--color-purple);
    border-radius: 100px;
    padding: 16px 24px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: all 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.send-btn:hover {
    background-color: var(--color-white);
    color: var(--color-purple);
}

.send-btn:hover path {
    fill: var(--color-purple);
}

.error-msg {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-red);
}

.success-msg {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-orange);
}

.form-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 6px;
}

.loading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.spinner {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: conic-gradient(var(--color-indigo), var(--color-white));
    mask: radial-gradient(farthest-side, transparent 60%, black 61%);
    -webkit-mask: radial-gradient(farthest-side, transparent 60%, black 61%);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}