input {
    width: 100%;
    padding: 10px 16px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid var(--color-silver);
    font-size: 1rem;
}

.numeric-inputs input {
    padding: 10px;
    width: 50px;
    height: 45px;
    text-align: center;
}
