input {
    width: 100%;
    padding: 10px 16px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid var(--color-silver);
    font-size: 1rem;
}

textarea::placeholder {
    font-size: 16px;
    font-family: 'GT Walsheim Pro';
}

input:disabled {
    background-color: var(--color-white);
}

.password-switcher {
    position: absolute;
    top: 35px;
    right: 16px;
    cursor: pointer;
}

.numeric-inputs input {
    padding: 10px;
    width: 50px;
    height: 45px;
    text-align: center;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset; /* фон */
    -webkit-text-fill-color: #000; /* колір тексту */
}