.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.form-header .close-modal {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 20px;
}

.modal-container form .form-text {
    font-size: 34px;
}

.modal-container .btns-container {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-end;
}

.modal-btn {
    box-sizing: border-box;
    border-radius: 100px;
    border: 1px solid var(--color-purple);
    font-size: 14px;
    font-weight: 500;
    padding: 10px 16px;
    cursor: pointer;
}

.modal-btn.btn1 {
    background-color: var(--color-purple);
    color: var(--color-white);
}
    
.modal-btn.btn2 {
    background-color: var(--color-white);
    color: var(--color-purple);
}

@media (max-width: 680px) {
    .modal-container form .form-text {
        font-size: 24px;
    }
}