.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.form-header .close-modal {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 20px;
}