{% load cloudinary %}
{% load static %}
{% for msg in objects reversed %}
    {% if msg.sender == user %}
        <div class="msg-container">
            <div class="my-msg msg" data-date="{{ msg.get_date }}">
                <div class="msg-wrapper">
                    {% if msg.images_sorted %}
                        <div class="imgs-container post-gallery">
                            {% for img in msg.images_sorted %}
                                <a href="{{ img.image_url }}" data-pswp-width="{{ img.width }}" data-pswp-height="{{ img.height }}" >
                                    <div class="msg-image-item">
                                        <img src="{% cloudinary_url img.public_id width=400  quality='auto' fetch_format='auto' %}" alt="">
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <span class="msg-text">{{ msg.text }}</span>
                </div>
                <span class="date">{{ msg.get_time }}</span>
            </div>
        </div>
    {% else %}
        <div class="msg-container">
            {% if msg.sender.profile.photo %}
                <img src="{% cloudinary_url msg.sender.profile.photo.image.name width=100  quality='auto' fetch_format='auto' %}" alt="" class="avatar">
            {% else %}
                <img src="{% static 'profile_app/img/default_photo.png' %}" alt="" class="avatar">
            {% endif %}
            <div class="msg another-msg" data-date="{{ msg.get_date }}">
                <div class="msg-wrapper"> 
                    <span class="username">{{ msg.sender.profile.get_full_name }}</span>
                    {% if msg.images_sorted %}
                        <div class="imgs-container post-gallery">
                            {% for img in msg.images_sorted %}
                                <a href="{{ img.image_url }}" data-pswp-width="{{ img.width }}" data-pswp-height="{{ img.height }}" >
                                    <div class="msg-image-item">
                                        <img src="{% cloudinary_url img.public_id width=400  quality='auto' fetch_format='auto' %}" alt="">
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <span class="msg-text">{{ msg.text }}</span>
                </div>
                <span class="date">{{ msg.get_time }}</span>
            </div>    
        </div>
    {% endif %}
{% endfor %}