{% load cloudinary %}
{% load static %}
<div class="notification-container" data-url="{% url 'chat_lobby' %}?chat={{ msg.chat.id }}">
    {% if msg.chat.is_group %}
        {% if msg.chat.avatar %}
            <img src="{% cloudinary_url msg.chat.avatar.name width=100  quality='auto' fetch_format='auto' %}" alt="" class="avatar">
        {% else %}
            <span class="avatar-default">{{ msg.chat.get_initial }}</span>
        {% endif %}
    {% else %}
        {% if msg.sender.profile.photo %}
            <img src="{% cloudinary_url msg.sender.profile.photo.image.name width=100  quality='auto' fetch_format='auto' %}" alt="" class="avatar">
        {% else %}
            <img src="{% static 'profile_app/img/default_photo.png' %}" alt="" class="avatar">
        {% endif %}
    {% endif %}
    <div class="notification-info-block">
        {% if msg.chat.is_group %}
            <span>{{ msg.chat.name }}</span>
            <p>
                <b>{{ msg.sender.profile.get_full_name }}</b>:
                {% if msg.text %}
                    <span class="msg-text">{{ msg.get_short_text }}</span>
                {% else %}
                    <span class="msg-text">Фото</span>
                {% endif %}
            </p>
        {% else %}
            <span>{{ msg.sender.profile.get_full_name }}</span>
            {% if msg.text %}
                <span class="msg-text">{{ msg.get_short_text }}</span>
            {% else %}
                <span class="msg-text">Фото</span>
            {% endif %}
        {% endif %}
    </div>
</div>