.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-plum);
}

.chat-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.chat-wrapper svg {
    cursor: pointer;
}

.chat-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat-info div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat-info div > span:first-child {
    font-weight: 500;
    font-size: 24px;
}

.chat-info div p span {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-blue);
}

.chat-body {
    flex: 1 1 0;
}

.msg-sender-block {
    display: flex;
    gap: 24px;
    align-items: center;
}

.msg-sender-block .btns {
    display: flex;
    gap: 16px;
}

.msg-sender-block .btns #send-msg-btn {
    background-color: var(--color-purple);
}
