.chat-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
}

.msg-container {
    display: flex;
    align-items: center;
    gap: 4px;
    max-width: 320px;
}

.msg-container .avatar {
    align-self: flex-end;
}

.msg {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    gap: 10px;
    border: 1px solid var(--color-plum);
    border-radius: 6px;
}

.msg .msg-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.msg .date {
    align-self: flex-end;
    font-weight: 400;
    font-size: 10px;
    color: var(--color-blue);
}

.msg.my-msg {
    background-color: var(--color-silver);
    margin-right: 5px;
}

.msg-container:has(.my-msg) {
    align-self: flex-end;
}

.username {
    font-size: 10px;
    color: var(--color-purple);
}

.msg-text {
    font-size: 14px;
}

.msgs-group-date {
    padding: 4px 6px;
    border-radius: 4px;
    background-color: var(--color-plum);
    align-self: center;
    color: var(--color-blue);
    font-size: 16px;
    font-weight: 400;
}

#messages-loader {
    padding: 10px;
}

.imgs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    max-width: 300px;
}

.imgs-container a {
    height: 200px;
    flex: 1 0 calc((100% - 8px) / 2);
}

.imgs-container .msg-image-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.msg-image-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.blur {
    filter: blur(8px);
}