form#create-post {
    width: 773px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-header .form-text {
    align-self: flex-start;
}

form#create-post .input-container {
    width: 343px;
}

form#create-post .input-container.full-width {
    width: 100%;
}

form#create-post .inputs {
    height: 420px;
    overflow: auto;
}

form#create-post .inputs::-webkit-scrollbar {
    width: 8px;
}

form#create-post .inputs::-webkit-scrollbar-thumb {
    background-color: var(--color-purple);
    border-radius: 10px;
}

form#create-post textarea {
    height: 126px;
}

.tags-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

#save-tag {
    display: flex;
    gap: 10px;
    align-items: center;
}

.tag {
    background-color: var(--color-plum);
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
}

.tag.selected {
    background-color: var(--color-purple);
    color: var(--color-white);
}

.tag-input {
    width: 189px;
    height: 28px;
    padding: 3px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
}

.links-vertical {
    display: flex;
    gap: 6px;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    width: 343px;
}

.first-input {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 343px;
}

.link {
    display: flex;
    align-items: center;
    position: relative;
}

.link .control-btn {
    position: absolute;
    right: -32px;
}

.control-btn {
    width: 22px;
    height: 22px;
    border: 2px solid var(--color-purple);
    background-color: var(--color-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 20px;
    cursor: pointer;
}

.control-btn svg {
    flex-shrink: 0;
}

.btns-container {
    display: flex;
    gap: 10px;
    align-items: center;
    align-self: flex-end;
}

#add-image {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid var(--color-purple);
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.images-grid {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.row {
    display: flex;
    height: 265px;
    gap: 16px;
}

.image-item {
    position: relative;
    flex: 1 1 0;
    height: 100%;
    cursor: grab;
}

.image-item:active {
    cursor: grabbing;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.image-item .image-btn {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    background-color: var(--color-white);
    border: 1px solid var(--color-purple);
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-item .delete-image {
    top: 10px;
}

.image-item .prev-row, .image-item:has(.prev-row.hidden) .next-row {
    top: 60px;
}

.image-item .prev-row {
    transform: rotate(180deg);
}

.image-item .next-row {
    top: 110px;
}
