form {
    padding-top: 24px;
    gap: 24px;
}

form#first-entry-form {
    width: 490px;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    position: relative;
}

.form-text {
    font-size: 34px;
    font-weight: 500;
    letter-spacing: -1px;
}

.send-btn {
    align-self: flex-end;
    padding: 10px 16px;
}

p:has(#generate-username) {
    font-size: 12px;
}

@media (max-width: 680px) {
    form#first-entry-form {
        width: 343px;
    }

    .form-text {
        font-size: 24px;
    }
}