.main-layout {
    display: flex;
    gap: 5px;
}

#textarea-container {
    position: relative;
    width: 100%;
}

#open-form {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.standart-border {
    box-sizing: border-box;
    border: 1px solid var(--color-silver);
    border-radius: 10px;
    background-color: var(--color-white);
}

.content-container, #posts-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.side-block {
    width: 350px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: sticky;
    top: calc(var(--header-height) + var(--side-padding-vertical));
    height: fit-content;
}

.info-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px 0;
    /* height: 265px; */
}

.info-block-header {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-block-header .header-name {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: var(--color-blue);
    font-weight: 500;
}

.info-block-header > span {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-purple);
    cursor: pointer;
}

@media (max-width: 1000px) {
    #textarea-container {
        display: none;
    }
}

@media (max-width: 900px) {
    .side-block {
        display: none;
    }
}
