#textarea-container {
    position: relative;
    width: 100%;
}

#open-form {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.avatar {
    height: 46px;
    width: 46px;
    border-radius: 100px;
    object-fit: cover;
}