.main-layout {
    display: flex;
    gap: 5px;
    width: 100%;
    flex: 1 1 0;
}

#textarea-container {
    position: relative;
    width: 100%;
}

#open-form {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.standart-border {
    box-sizing: border-box;
    border: 1px solid var(--color-silver);
    border-radius: 10px;
    background-color: var(--color-white);
}

.content-container, #posts-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 1 0;
}

.side-block {
    width: 350px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: sticky;
    top: calc(var(--header-height) + var(--side-padding-vertical));
    height: fit-content;
}

@media (max-width: 1000px) {
    #textarea-container {
        display: none;
    }
}

@media (max-width: 900px) {
    .side-block {
        position: static;
        width: 100%;
    }
    
    .main-layout {
        flex-direction: column;
    }
}
