.post {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
}

.author-line {
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid var(--color-silver);
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.avatar {
    height: 46px;
    width: 46px;
    border-radius: 100px;
    object-fit: cover;
}

.signature {
    /* height: 49px;
    width: 220px; */
    border-radius: 6px;
    width: 130px;
    height: 50px;
    /* object-fit: cover; */
    object-fit: contain;
}

.user-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.post-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 20px;
    box-sizing: border-box;
}

.post-title {
    font-weight: 500;
    font-size: 16px;
}

.post-tags, .post-links a {
    color: var(--color-purple);
    font-weight: 400;
}

.post-links a {
    text-decoration: underline;
    display: block;
}

.post-images {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.post-images .post-image-row {
    display: flex;
    gap: 16px;
    width: 100%;
}

.post-image-item, .post-images .post-image-row a {
    height: 327px;
    flex: 1 1 0;
}

.post-image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

@media (max-width: 1050px) {
    .post-image-item, .post-image-item, .post-images .post-image-row a {
        height: 203px;
    }

    .author-line {
        gap: 8px;
        padding: 16px;
    }

    .post-body {
        padding: 16px;
    }

    .author-info {
        flex-direction: column;
        flex-grow: 0;
        align-items: flex-start;
        gap: 5px;
    }

    .signature {
        width: 130px;
        height: 50px;
    }

    .post-images, .post-images .post-image-row {
        gap: 8px;
    }
}

@media (max-width: 900px) and (min-width: 550px) {
    .post-image-item, .post-image-item, .post-images .post-image-row a {
        height: 327px;
    }

    .author-info {
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
    }

    .author-line {
        padding: 20px;
    }

    .post-body {
        padding: 16px 20px;
    }
}