.user-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
}

.user-bio-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    width: 100%;
}

.user-bio-name {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.user-bio-name .names {
    font-size: 24px;
    font-weight: 700;
}

.user-bio-name .username {
    font-weight: 500;
}

.user-bio .avatar {
    width: 96px;
    height: 96px;
}

.user-bio-statistic {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.statistic span:first-child {
    font-size: 20px;
    font-weight: 700;
}

.statistic span:last-child {
    font-weight: 500;
    color: var(--color-blue);
}

.vertical-line {
    width: 1px;
    background-color: var(--color-silver);
}


.info-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    /* height: 265px; */
}

.info-block:has(.album-preview) {
    gap: 16px;
}

.info-block-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-block-header .header-name {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: var(--color-blue);
    font-weight: 500;
}

.info-block-header > span {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-purple);
    cursor: pointer;
}

.info-block-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info-block-content-element {
    display: flex;
    gap: 12px;
}

.info-block-content-element .data {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.info-block-content-element .data p:first-child {
    font-size: 16px;
    font-weight: 500;
}

.info-block-content-element .data p:last-child {
    font-size: 14px;
    color: var(--color-blue);
}

.album-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.album-preview img {
    width: 100%;
    height: 162px;
    object-fit: cover;
    border-radius: 10px;
}

.album-name {
    font-weight: 500;
}

.album-info {
    display: flex;
    gap: 16px;
}

.album-info span:last-child {
    color: var(--color-blue);
}

#friendship-controls {
    display: flex;
    gap: 16px;
}

@media (max-height: 715px) {
    .album-preview img {
        height: 142px;
    }
}