main {
    background-color: var(--color-plum);
}

.auth-wrapper {
    position: relative;
    left: 5%;
    width: 1088px;
    max-width: 85vw;
    height: 552px;
    display: flex;
    align-items: center;
}

form.auth {
    width: 488px;
    position: absolute;
    z-index: 2;
    left: 0;
}

form.auth .send-btn {
    width: 100%;
}

.switchers-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.switchers-container::before {
    content: '';
    width: 47%;
    height: 3px;
    background-color: var(--color-indigo);
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: all 0.25s ease;
}

.switchers-container.auth::before {
    left: 48%;
    width: 52%;
}

.switchers-container span {
    font-size: 34px;
    font-weight: 500;
    color: var(--color-blue);
    cursor: pointer;
}

.switcher-btn.selected {
    font-weight: 600;
    color: var(--color-indigo);
}

.form-text {
    font-size: 24px;
    font-weight: 500;
}

.form-msg {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.form-header {
    font-size: 34px;
    font-weight: 500;
    text-align: center;
}

.numeric-inputs {
    display: flex;
    justify-content: space-between;
}

.digit-pair {
    display: flex;
    gap: 16px;
}

.btns-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.back-btn {
    font-size: 16px;
    background-color: var(--color-white);
    border: none;
    cursor: pointer;
}

.auth-bg-img {
    position: absolute;
    right: 0;
}

@media (max-width: 1075px) {
    .auth-bg-img {
        display: none;
    }

    form.auth {
        position: static;
    }

    .auth-wrapper {
        position: static;
        width: 100%;
        height: 100%;
        justify-content: center;
    }
}

@media (max-width: 680px) {
    .switchers-container span, .form-header {
        font-size: 24px;
    }

    form.auth {
        width: 343px;
    }

    .switchers-container {
        gap: 24px;
        width: fit-content;
    }

    .switchers-container::before {
        width: 46%;
    }

    .switchers-container.auth::before {
        left: 50%;
        width: 50%;
    }

    .digit-pair {
        gap: 8px;
    }

    .numeric-inputs input {
        width: 40px;
        height: 40px;
    }
}