.friends-section {
    background-color: var(--color-white);
    box-sizing: border-box;
    border: 1px solid var(--color-silver);
    border-radius: 10px;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.friends-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friends-section-header h3 {
    font-size: 16px;
    font-weight: 500;
}

.friends-section-header a {
    color: var(--color-purple);
    cursor: pointer;
}

.friends-section-content {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.friends-section-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    box-sizing: border-box;
    padding: 16px 0;
    border: 1px solid var(--color-silver);
    border-radius: 10px;
    width: 289px;
}

.friends-section-card .user-info {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: column;
}

.friends-section-card .user-names {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 58px;
}

.friends-section-card .user-names p:first-child {
    font-size: 24px;
    font-weight: 700;
}

.friends-section-card .user-names p:last-child {
    font-size: 18px;
    font-weight: 500;
}

.avatar {
    height: 96px;
    width: 96px;
    border-radius: 100px;
    object-fit: cover;
}
    
.btns-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.friends-btn {
    box-sizing: border-box;
    border-radius: 100px;
    border: 1px solid var(--color-purple);
    font-size: 14px;
    font-weight: 500;
    padding: 10px 16px;
    cursor: pointer;
}

.friends-btn.btn1 {
    background-color: var(--color-purple);
    color: var(--color-white);
}
    
.friends-btn.btn2 {
    background-color: var(--color-white);
    color: var(--color-purple);
}

.result-msg {
    color: var(--color-orange);
}

form {
    width: 488px;
    box-sizing: border-box;
}

form .btns-container {
    align-self: flex-end;
}


form h3 {
    font-size: 34px;
    font-weight: 500;
}

@media (max-width: 805px) {
    .friends-section-content:has(.friends-section-card) {
        justify-content: center;
    }   
}

@media (max-width: 680px) {
    form {
        width: 343px;
    }

}

@media (max-width: 642px) {
    .friends-section-content.preview .friends-section-card:nth-of-type(n+3) {
        display: none;
    }
}