.layout-container {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: space-between;
}

.navigation-links {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.navigation-links a {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-blue);
}

.navigation-links a.selected {
    color: var(--color-indigo);
    font-weight: 700;
    position: relative;
}

.navigation-links a.selected::before {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background-color: var(--color-indigo);
}

.layout-content {
    width: 65%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}