.section {
    width: 100%;
    background-color: var(--color-white);
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid var(--color-silver);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section.highlighted-border {
    border-color: var(--color-purple);
}

.first-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-line span {
    font-weight: 500;
}

.first-line button, .verify-email-btn {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--color-indigo);
    background-color: var(--color-white);
    color: var(--color-purple);
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.verify-email-btn {
    width: fit-content;
    margin-top: 10px;
}

.input-container .loading {
    margin-top: 10px;
}

.first-line button:hover, .verify-email-btn:hover {
    background-color: var(--color-plum);
}

.profile-card .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.photo-container h3 {
    font-size: 16px;
    font-weight: 400;
}

.photo-container .photo-btns {
    display: flex;
    align-items: center;
    gap: 24px;
}

.photo-container .photo-btn {
    background-color: var(--color-white);
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    color: var(--color-purple);
    padding: 0;
    font-size: 16px;
    cursor: pointer;
}

.photo-container img {
    height: 96px;
    width: 96px;
    border-radius: 100px;
    object-fit: cover;
}

.names-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 343px;
}

.names-container .name-surname {
    font-size: 24px;
    font-weight: 700;
}

.names-container .username {
    font-size: 16px;
    font-weight: 500;
}

.personal-information .wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.data-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 343px;
}

.data-container.disabled label, .data-container.disabled input, .data-container.disabled input:-webkit-autofill {
    color: var(--color-gray);
    -webkit-box-shadow: 0 0 0px 1000px var(--color-white) inset; /* фон */
    -webkit-text-fill-color: var(--color-gray); 
}

.btns-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.password, .information {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form#verify-form {
    width: 488px;
}

form#verify-form .form-text {
    font-size: 34px;
}

form#verify-form .send-btn {
    width: 100%;
}

@media (max-width: 1030px) {
    .layout-container {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        justify-content: start;
    }

    .layout-content {
        width: 100%;
    }

    .navigation-links {
        flex-direction: row;
        align-self: flex-start;
        padding: 25px 0 10px 16px;
    }
}

@media (max-width: 680px) {
    form#verify-form {
        width: 343px;
    }

    form#verify-form .form-text {
        font-size: 24px;
    }
}

@media (max-width: 550px) {
    span.desktop {
        display: none;
    }
}

@media (max-width: 400px) {
    .data-container {
        width: 100%;
    }
}